<!DOCTYPE html>
<html>
<head>
  <title>Boss Details</title>

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  />

  <link rel="stylesheet" href="/public/style.css">
</head>

<body>

<main class="container">

<a href="/">← Back Home</a>

<article>

<img src="{{image}}" alt="{{name}}">

<h1> {{name}} </h1>

<p><strong>Game:</strong> {{game}}</p>

<p><strong>Difficulty:</strong> {{difficulty}}</p>

<p><strong>Description:</strong> {{description}}</p>

</article>

</main>

</body>
</html>